//ion-checkbox {
//  --size: 28px;
//}

ion-icon {
  --ionicon-stroke-width: 30px;
  font-size: 25px;
}

#select-checkbox-toolbar {
  margin-left: 16px;
}

#edit-options-toolbar{
  margin-right: 4px;
}
