<ion-header [translucent]="true">
  <ion-toolbar appClickOutside [isActive]="showEdit" (clickOutside)="onClickOutside()">
    @if (!showEdit) {
      <ion-title>Item list</ion-title>
    }
    @if (showEdit) {

      <ion-checkbox id="select-checkbox-toolbar" labelPlacement="end" justify="end">
        All
      </ion-checkbox>

      <ion-buttons id="edit-options-toolbar" slot="end">

        <ion-button>
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>

        <ion-button color="dark">
          <ion-icon slot="icon-only" name="archive-outline"></ion-icon>
        </ion-button>

        <ion-button color="dark">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>

        <ion-button color="dark" (click)="setShowEdit(false)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>

      </ion-buttons>

    }

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="none">

    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">

      @for (item of array; track item) {

        <ion-item>

          <ion-checkbox labelPlacement="end" justify="start">
            {{ item }}
          </ion-checkbox>

          <ion-reorder slot="end"></ion-reorder>

        </ion-item>

      } @empty {

        <ion-item>

          <ion-checkbox labelPlacement="end" justify="start">
            To do item
          </ion-checkbox>

          <ion-reorder slot="end"></ion-reorder>

        </ion-item>

      }

    </ion-reorder-group>

  </ion-list>

  <app-menu [showEditMenu]="true" (editViewShow)="setShowEdit($event)" (createViewShow)="setCreateModalOpen($event)"/>

  <ion-modal [isOpen]="isModalOpen">

    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-title>Create item</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setCreateModalOpen(false)">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <app-create-item/>
      </ion-content>

      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button>
              Create
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>

    </ng-template>

  </ion-modal>

</ion-content>

