<ion-input
  label="Title *"
  labelPlacement="floating"
  fill="outline"
  maxlength="20"
  required="true"
  class="ion-margin-bottom"
  [counter]="true"
>
</ion-input>

<ion-textarea
  label="Description"
  labelPlacement="floating"
  fill="outline"
  maxlength="300"
  class="ion-margin-bottom"
  [counter]="true"
  [autoGrow]="true"
  [(ngModel)]="tagString"
>
</ion-textarea>

<ion-input
  label="Tag"
  labelPlacement="floating"
  fill="outline"
  maxlength="20"
  class="ion-margin-bottom"
  [counter]="true"
>
</ion-input>

@for (tag of mockTagData; track tag) {
  <ion-chip
    (click)="removeTag(tag)"
  >
    <ion-label>{{ tag }}</ion-label>
    <ion-icon
      name="close"
    />
  </ion-chip>
}

<ion-buttons class="ion-margin-top">
  <ion-button
    type="button"
    aria-label="to-do list"
    shape="round"
    size="large"
    color="dark"
    class="ion-margin-end"
    (click)="openTimeSetter()"
  >
    <ion-icon
      slot="icon-only"
      name="notifications-outline"
    />
  </ion-button>

  @if (this.showTimePicker) {
    <ion-buttons>
      <ion-datetime-button
        class="ion-margin-start"
        datetime="datetime"
      />
    </ion-buttons>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          color="dark"
          id="datetime"
          [(ngModel)]="datetime"
          [formatOptions]=
            "{
              time: { hour: '2-digit', minute: '2-digit' },
              date: { day: '2-digit', month: 'long' },
            }"
        ></ion-datetime>
      </ng-template>
    </ion-modal>
  }
</ion-buttons>
